@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;

}
.container{

    max-width: 1100px;
    margin: 0 auto;
}

.navbar{
    background: rgb(52, 148, 244);
    color: #fff;
    height: 60px;
    width: 100vw;
    margin-bottom: 2vh;
}
.navbar a{
    color: #fff;
    text-decoration: white;
    font-size: 18px;
    font-weight: bold;
    
}
.navbar a:hover{
    color: lightblue;

}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}
.navbar ul{
    display:flex;
    flex:wrap;
}
.navbar ul li{
    margin-right: 20px;
}
body{
    font-family:'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    background: white;
}
.gallery {
    max-width: 1100px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.item{
    
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    
}
@media(max-width:500px){
    .containergrid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}