*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
nav{
    background: skyblue;
    height: 70px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
    text-align: left;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius:3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #2c96e8ed;
    transition: .5s;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .gallery img {
    width:200px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    object-fit: cover;
  }
  .gallery1 img {
    width: 400px;
    height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    object-fit: cover;

  }
  @media(max-width:768px){
    .gallery img {
        flex-direction: column;
        text-align: center;
    }
    .gallery1 img{
        flex-direction: column;
        text-align: center;
    }
    .gallery {
        flex-direction: column;
        text-align: center;
    }
  }
  